@use "abstracts/mixin";
@use "abstracts/variable";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Elements
-------------------------------------------------------------- */

html {
    margin-right: 0 !important;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variable.$font-main;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--main);
    background-color: var(--White);
}

img {
    max-width: 100%;
    height: auto;
    transform: scale(1);
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    > * {
        padding-left: 15px;
        padding-right: 15px;
    }
}

ul,
li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.container {
    max-width: 1320px;
}

.container-2 {
    max-width: 1870px;
}

.container,
.container-2 {
    width: 100%;
    margin: auto;
}

.container,
.container-2 {
    padding-left: 15px;
    padding-right: 15px;
}

.container-full {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

// form //
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-family: variable.$font-main;
    border: 2px solid var(--line);
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    line-height: 26px;
    padding: 11px 16px;
    width: 100%;
    background: var(--White);
    color: var(--Secondary);
    font-weight: 400;
    border-radius: 8px;
    &:focus {
        border-color: var(--line);
    }
}

textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="color"]::placeholder {
    @include mixin.transition3;
}

textarea {
    height: 112px;
    resize: none;
}
/* Placeholder color */
::-webkit-input-placeholder {
    color: var(--Secondary);
}

:-moz-placeholder {
    color: var(--Secondary);
}

::-moz-placeholder {
    color: var(--Secondary);
    opacity: 1;
}

button {
    background-color: transparent;
    border: 0;
    outline: none;
}

/* Since FF19 lowers the opacity of the placeholder by default */

:-ms-input-placeholder {
    color: var(--Secondary);
}

/* Typography
-------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: variable.$font-main;
    text-rendering: optimizeLegibility;
    color: var(--main);
    font-weight: 400;
}

h1 {
    font-size: 56px;
    line-height: 68px;
}

h2 {
    font-size: 44px;
    line-height: 50px;
}

h3 {
    font-size: 40px;
    line-height: 48px;
}

h4,
.h4 {
    font-size: 30px;
    line-height: 42px;
}

h5 {
    font-size: 24px;
    line-height: 30px;
}

h6 {
    font-size: 20px;
    line-height: 28px;
}

.text-display {
    font-size: 80px;
    font-weight: 400;
    line-height: 88px;
}

.text-body-1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.text-body-default {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.text-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.text-button {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.text-button-small {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.text-caption-1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.text-caption-2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.font-main {
    font-family: variable.$font-main;
}
.font-2 {
    font-family: variable.$font-2;
}

b,
strong {
    font-weight: bolder;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// font-weight
.fw-4 {
    font-weight: 400 !important;
}
.fw-5 {
    font-weight: 500 !important;
}
.fw-6 {
    font-weight: 600 !important;
}
.fw-7 {
    font-weight: 700 !important;
}
.fw-8 {
    font-weight: 800 !important;
}

// background color
.bg_white {
    background-color: var(--White) !important;
}

.bg_surface {
    background-color: var(--Surface) !important;
}

.bg-main,
.bg_onsurface {
    background-color: var(--Onsurface) !important;
}

.bg-light-blue-2 {
    background-color: #ebeaef !important;
}

.bg-light-blue {
    background-color: #d3d9ef !important;
}

.bg-light-orange {
    background-color: #eeae76 !important;
}

.bg-light-brown {
    background-color: #b1aa98 !important;
}

.bg-light-grey {
    background-color: #f0efed !important;
}

.bg-light-pink {
    background-color: #dfc6b8 !important;
}

.bg-dark-grey-2 {
    background-color: #9e9b96 !important;
}

.bg-light-pink {
    background-color: #dfc6b8 !important;
}
.bg-light-pink-2 {
    background-color: #f4c5bf !important;
}
.bg-light-pink-3 {
    background-color: #fdebeb !important;
}
.bg-dark-pink {
    background-color: #d10047 !important;
}
.bg-blue {
    background-color: var(--blue) !important;
}
.bg-blue-2 {
    background-color: #0c74d6 !important;
}
.bg-blue-3 {
    background-color: #0766bf !important;
}
.bg-light-blue {
    background-color: #d3d9ef !important;
}
.bg-light-blue-2 {
    background-color: #ebeaef !important;
}
.bg-light-blue-3 {
    background-color: #edf5f6 !important;
}
.bg-light-blue-4 {
    background-color: #eaf5ff !important;
}
.bg-light-blue-5 {
    background-color: #c9dfed !important;
}
.bg-dark-blue {
    background-color: #1b4872 !important;
}
.bg-purple {
    background-color: #2d3054 !important;
}
.bg-purple-2 {
    background-color: #6461be !important;
}
.bg-purple-3 {
    background-color: #73465a !important;
}
.bg-orange {
    background-color: #ff9747 !important;
}
.bg-orange-2 {
    background-color: #f1592a !important;
}
.bg-light-orange {
    background-color: #eeae76 !important;
}
.bg-grey {
    background-color: #e0d3c5 !important;
}
.bg-grey-2 {
    background-color: #d7cfc4 !important;
}
.bg-dark-grey {
    background-color: #b1aa98 !important;
}
.bg-dark-grey-2 {
    background-color: #9e9b96 !important;
}

.bg-light-grey {
    background-color: #f0efed !important;
}
.bg-light-green {
    background-color: #b7b8a3 !important;
}
.bg-brown {
    background-color: #d6bb9a !important;
}
.bg-red {
    background-color: #dc2a35 !important;
}
.bg-red-2 {
    background-color: #d14244 !important;
}
.bg-beige {
    background-color: #ccbba7 !important;
}

.bg-beige-2 {
    background-color: #f6efdd !important;
}

.bg-color-beige {
    background-color: #dfc6b8 !important;
}

.bg-color-yellow {
    background-color: var(--Yellow) !important;
}

// color text
.text_white {
    color: var(--White) !important;
}
.text_primary {
    color: var(--Primary) !important;
}

.text_secondary {
    color: var(--Secondary) !important;
}

.text_secondary2 {
    color: var(--Secondary2) !important;
}
.text_onsurface {
    color: var(--Onsurface) !important;
}

label {
    font-weight: 400;
}
.link {
    @include mixin.transition3;
    &:hover {
        color: var(--Primary) !important;
    }
}

.text-decoration {
    text-decoration: underline !important;
}

// line-clamp
.text-line-clamp-1,
.line-clamp-1 {
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.text-line-clamp-2,
.line-clamp-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.text-line-clamp-4,
.line-clamp-4 {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.border-bot {
    border-bottom: 1px solid var(--line);
}

.overflow-x-auto {
    overflow-x: auto;
    &::-webkit-scrollbar {
        height: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--line);
        border-radius: 999px;
    }
}

a {
    @include mixin.transition3;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: var(--Onsurface);
    &:focus,
    &:hover {
        @include mixin.transition3;
        text-decoration: none;
        outline: 0;
    }
}

// grid
.grid-2 {
    @include mixin.grid(2, 1fr);
}
.grid-3 {
    @include mixin.grid(3, 1fr);
}
.grid-4 {
    @include mixin.grid(4, 1fr);
}
.grid-6 {
    @include mixin.grid(6, 1fr);
}

.tf-grid-layout {
    display: grid;
    column-gap: 15px;
    row-gap: 30px;
    &.tf-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    &.tf-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    &.tf-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    &.tf-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    &.tf-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    &.tf-col-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .wg-pagination {
        grid-column: 1 / -1;
        width: 100%;
    }
    .wd-load {
        grid-column: 1 / -1;
    }
    &.gap30 {
        gap: 30px;
    }
}

// gap
.gap-4 {
    gap: 4px !important;
}
.gap-5 {
    gap: 5px !important;
}
.gap-6 {
    gap: 6px !important;
}
.gap-7 {
    gap: 7px !important;
}
.gap-8 {
    gap: 8px !important;
}
.gap-10 {
    gap: 10px !important;
}
.gap-12 {
    gap: 12px !important;
}
.gap-14 {
    gap: 14px !important;
}
.gap-15 {
    gap: 15px !important;
}
.gap-16 {
    gap: 16px !important;
}
.gap-17 {
    gap: 17px !important;
}
.gap-19 {
    gap: 19px !important;
}
.gap-20 {
    gap: 20px !important;
}

// radius

.radius-3 {
    border-radius: 3px !important;
}
.radius-4 {
    border-radius: 4px !important;
}
.radius-5 {
    border-radius: 5px !important;
}
.radius-10 {
    border-radius: 10px !important;
}
.radius-20 {
    border-radius: 20px !important;
}
.radius-60 {
    border-radius: 60px !important;
}
.rounded-full {
    border-radius: 999px !important;
}
.o-hidden {
    overflow: hidden;
}

// padding
.px_15 {
    padding-left: 15px;
    padding-right: 15px;
}

// padding
.py_12 {
    padding: 12px 0;
}
.pt_0 {
    padding-top: 0px !important;
}
.pb_0 {
    padding-bottom: 0px !important;
}
.pb_10 {
    padding-bottom: 10px !important;
}
.pb_23 {
    padding-bottom: 23px !important;
}
.pr_0 {
    padding-right: 0px !important;
}

// margin
.mt_4 {
    margin-top: 4px;
}
.mt_20 {
    margin-top: 20px;
}
.mt_60 {
    margin-top: 60px;
}
.mb_4 {
    margin-bottom: 4px;
}
.mb_6 {
    margin-bottom: 6px;
}
.mb_7 {
    margin-bottom: 7px;
}
.mb_8 {
    margin-bottom: 8px;
}
.mb_9 {
    margin-bottom: 9px;
}
.mb_10 {
    margin-bottom: 10px;
}
.mb_11 {
    margin-bottom: 11px;
}
.mb_12 {
    margin-bottom: 12px;
}
.mb_14 {
    margin-bottom: 14px;
}
.mb_15 {
    margin-bottom: 15px;
}
.mb_16 {
    margin-bottom: 16px;
}
.mb_17 {
    margin-bottom: 17px !important;
}
.mb_18 {
    margin-bottom: 18px !important;
}
.mb_20 {
    margin-bottom: 20px !important;
}
.mb_21 {
    margin-bottom: 21px !important;
}
.mb_22 {
    margin-bottom: 22px !important;
}
.mb_24 {
    margin-bottom: 24px;
}
.mb_28 {
    margin-bottom: 28px;
}
.mb_30 {
    margin-bottom: 30px;
}
.mb_32 {
    margin-bottom: 32px;
}
.mb_34 {
    margin-bottom: 34px !important;
}
.mb_39 {
    margin-bottom: 39px !important;
}
.mb_40 {
    margin-bottom: 40px;
}
.mb_43 {
    margin-bottom: 43px !important;
}
.mb_48 {
    margin-bottom: 48px;
}

// spacing
.line-top-container {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        background-color: var(--line);
        height: 1px;
        width: 100%;
        max-width: 1290px;
        transform: translateX(-50%);
    }
}
.line-bottom-container {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        background-color: var(--line);
        height: 1px;
        width: 100%;
        max-width: 1070px;
        transform: translateX(-50%);
    }
}

[data-grid="grid-1"] {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
}
[data-grid="grid-2"] {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}
[data-grid="grid-3"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
[data-grid="grid-4"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
[data-grid="grid-5"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
}
[data-grid="grid-6"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
}

.grid-template-columns-2 {
    grid-template-columns: 1fr 1fr;
}

.tf-row-flex {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 30px;
}

.tf-grid-layout-v2 {
    display: grid;
    gap: 15px;
}

.tf-md-hidden {
    display: none;
}

.slider-layout-right {
    width: calc(100vw - (100vw - 1300px) / 2);
    margin-right: unset;
    max-width: 100%;
    margin-left: auto;
}

.cursor-pointer {
    cursor: pointer;
}

// position
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.justify-center {
    justify-content: center;
}

.simpleParallax {
    height: 100%;
}

#scroll-top {
    position: fixed;
    display: block;
    width: 48px;
    height: 48px;
    line-height: 50px;
    border-radius: 4px;
    z-index: 1;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
    background-color: var(--Onsurface);
    border: 0;
    bottom: 92px;
    right: 20px;
    padding: 0;
    @include mixin.flex(center, center);
    @include mixin.transition3;
    &.show {
        opacity: 1;
        visibility: visible;
    }
    &.style-1 {
        bottom: 140px;
    }
    &:hover {
        transform: translateY(-5px);
        background-color: var(--Primary);
    }
}

.overflow-none {
    overflow: unset !important;
}

.w-full {
    width: 100% !important;
    max-width: 100%;
}

.sticky-top {
    z-index: 50;
    top: 15px;
}

.border-top {
    border-top: 1px solid var(--line);
}

.loadmore-item .fl-item {
    display: none;
}

.loadItem{
    &.hidden{
        display: none !important;
    }
    &.card-product.style-list:not(.hidden){
        display: flex !important;
    }
}

.space-1 {
    height: 15px;
}

.error {
    color: var(--Critical);
}

.success .standard {
    color: var(--Success);
    margin-top: 10px;
}

/* Preload 
------------------------------------------- */

.preload-wrapper{
    .preload-container{
        display: flex;
    }
}
.preload-container {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999999999;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
 
.spinner {
    width: 60px;
    height: 60px;
    border: 3px solid transparent;
    border-top: 3px solid var(--Primary);
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}
  
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}