//settings
$font-main: "Marcellus", sans-serif;
$font-2: "Kumbh Sans", sans-serif;
$fontIcon: "icomoon";

:root{
    // color
    --main: #000000;
    --White: #ffffff;
    --Onsurface: #181818;
    --Primary: #827460;
    --Secondary: #4D4E4F;
    --Secondary2: #A0A0A0;
    --Surface: #F6F6F6;
    --line: #E9E9E9;
    --Critical: #F03E3E;
    --Success: #3DAB25;
    --Yellow: #F0A750;
    --pink: #EC749D;
    --backdrop: rgba(24, 24, 24, 0.2)
}