@use "../abstracts/mixin";

.tf-btn {
    @include mixin.flex(center, center);
    gap: 8px;
    padding: 0 20px;
    height: 48px;
    border-radius: 99px;
    font-size: 16px;
    width: max-content;
    line-height: 26px;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    i {
        font-size: 20px;
    }
    &.btn-border {
        border: 1px solid var(--line);
    }
    &.btn-white {
        background-color: var(--White);
        &.has-border {
            border: 1px solid var(--Onsurface);
        }
        &:hover {
            background-color: var(--Onsurface);
            color: var(--White);
        }
    }
    &.btn-onsurface {
        background-color: var(--Onsurface);
        color: var(--White);
        &:hover {
            background-color: var(--Primary);
        }
    }

    &.btn-primary {
        background-color: var(--Primary);
        color: var(--White);
        &:hover {
            background-color: var(--Onsurface);
        }
    }
    &:hover {
        -webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.15);
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
    }
}

.tf-btn-link {
    @include mixin.d-flex();
    align-items: center;
    gap: 4px;
    span {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 1px;
            background-color: var(--Onsurface);
            @include mixin.transition3();
            bottom: 0;
            left: 0;
        }
    }
    i {
        font-size: 20px;
        font-weight: 700;
    }
    &:hover {
        span {
            &::after {
                width: 100%;
            }
        }
    }
}

.btn-line {
    span {
        position: relative;
        background: linear-gradient(
            to right,
            var(--Primary) 50%,
            var(--Onsurface) 50%
        );
        background-size: 200% 100%;
        background-position: right;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-position 0.3s linear;
        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -2px;
            right: 0;
            height: 2px;
            background-color: var(--Onsurface);
            @include mixin.transition3;
        }
        &::before {
            position: absolute;
            content: "";
            left: 0;
            width: 0;
            bottom: -2px;
            height: 2px;
            background-color: var(--Primary);
            transition: width 0.3s linear;
            z-index: 1;
        }
    }
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 4px;
    color: var(--Onsurface);
    position: relative;
    @include mixin.transition3;
    display: inline-flex;
    align-items: center;
    max-width: max-content;
    gap: 8px;
    i {
        @include mixin.transition5;
        font-size: 20px;
    }
    &:hover {
        span {
            background-position: left;
            &::before {
                width: 100%;
            }
        }
        i {
            color: var(--Primary);
        }
    }
    &.btn-line-white {
        span {
            color: var(--White);
            background: linear-gradient(
                to right,
                var(--Primary) 50%,
                var(--White) 50%
            );
            background-size: 200% 100%;
            background-position: right;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &::after {
                background-color: var(--White);
            }
        }
        i {
            font-size: 24px;
            color: var(--White);
            @include mixin.transition5;
        }

        &:hover {
            span {
                background-position: left;
                &::before {
                    width: 100%;
                }
            }
            i {
                color: var(--Primary);
            }
        }
    }
}

.tf-loading{
    position: relative;
    &::before{
        width: 18px;
        height: 18px;
        border: solid 2px transparent;
        border-top-color: transparent !important;
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        animation: tf_rotator 0.6s linear infinite paused;
        opacity: 0;
    }
    .text-btn{
        color: currentColor;
        
    }
    &.loading{
        &::before {
           
            border: solid 2px var(--main);
            opacity: 1;
            animation-play-state: running;
        }
        .text-btn{
            display: none;
        }
    }
   
}

.btn-infinite-scroll{
    height: 32px;
    padding: 0;
    border: none;
    &::before {
        width: 22px;
        height: 22px;
        border: solid 2px var(--main);
        opacity: 1;
        animation-play-state: running;
    }
}

@keyframes tf_rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-sold-out {
    pointer-events: none;
    background-color: var(--line) !important;
    color: var(--Secondary2) !important;
    cursor: no-drop;
}