@use "../abstracts/mixin";

footer {
    background-color: rgba(31, 31, 31, 1);
    .footer-body {
        padding: 78px 0 73px 0;
        gap: 0px;
        display: flex;
        justify-content: space-between;
        gap: 0 30px;
    }
    .footer-heading {
        margin-bottom: 23px;
        &.style-2 {
            margin-bottom: 16px;
        }
    }
    .footer-phone-number {
        .number {
            margin-bottom: -7px;
        }
    }
    .footer-left {
        display: flex;
        justify-content: space-between;
        gap: 95px;
        max-width: 631px;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
    }
    .footer-newsletter {
        width: 100%;
        max-width: 518px;
        .footer-heading {
            text-transform: capitalize;
            margin-bottom: 20px;
        }
        .form-newsletter {
            max-width: 435px;
        }
    }
    .footer-menu {
        @include mixin.d-flex();
        justify-content: space-between;
        margin-bottom: 42px;
        .footer-col-block {
            width: 100%;
        }
        .footer-menu-list {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .footer-menu_item {
            color: rgba(255, 255, 255, 0.8);
            display: inline;
            background-repeat: no-repeat;
            background-position-y: 0px;
            background-image: linear-gradient(
                transparent calc(100% - 1px),
                currentColor 1px
            );
            transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
            background-size: 0 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            &:hover {
                background-size: 100% 100%;
                transition-delay: 0.2s;
                color: var(--White) !important;
            }
        }
    }
    .wrap-newsletter {
        p {
            margin-bottom: 24px;
        }
    }
    .form-newsletter {
        margin-bottom: 96px;
        position: relative;
        fieldset {
            input {
                border-radius: 8px;
                padding: 13px 16px 13px 24px;
                background: #FFFFFF1A;
                border: 0;
                color: var(--White);
                &::placeholder {
                    color: var(--Secondary2);
                }
            }
        }
        .subscribe-button {
            position: absolute;
            height: 40px;
            padding: 0 16px;
            border-radius: 6px;
            @include mixin.d-flex();
            align-items: center;
            gap: 4px;
            background-color: var(--White);
            color: var(--Onsurface);
            top: 50%;
            transform: translateY(-50%);
            right: 6px;
            @include mixin.transition3();
            i {
                font-weight: 700;
            }
            &:hover {
                color: var(--White);
                background-color: var(--Onsurface);
            }
        }
    }
    .tf-btn-direction {
        display: flex;
        align-items: center;
        span {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                bottom: 0;
                background-color: var(--Onsurface);
                left: 0;
                @include mixin.transition3();
            }
        }
        i {
            font-size: 20px;
        }
        &:hover {
            span {
                &::after {
                    background-color: var(--Primary);
                }
            }
        }
    }
    .footer-bottom {
        background-color: rgba(23, 23, 23, 1)
    }
    .footer-bottom-wrap {
        @include mixin.flex(center, space-between);
        padding: 25px 0;
        flex-wrap: wrap;
        gap: 15px 30px;
        .left {
            display: flex;
            align-items: center;
            text-align: center;
            gap: 16px;
        }
    }
    
}
.tf-payment {
    ul {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
        img {
            width: 38px;
            height: 24px;
        }
    }
}

.tf-toolbar-bottom {
    display: none; 
    padding: 15px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    position: fixed;
    z-index: 60;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--White);
    box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);

    .toolbar-item {
        flex: 1 0 20%;
        position: relative;
        a {
            width: 100%;
            padding-right: 7px;
            padding-left: 7px;
            height: 40px;
            gap: 4px;
            @include mixin.flex(center,center);
            flex-direction: column;
            .toolbar-icon {
                display: flex;
                position: relative;
                svg {
                    width: 20px;
                }
                .icon {
                    font-size: 20px;
                    color: var(--main);
                }
            }
            .toolbar-label {
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                color: var(--Secondary);
                @include mixin.transition3;
            }
            &:hover{
                .toolbar-label{
                    color: var(--main);
                    font-weight: 600;
                }
            }
        }
        
    }
}