@use "../abstracts/mixin";
@use "../abstracts/variable";

form {
    position: relative;
    .cols {
        display: flex;
        gap: 20px 16px;
        width: 100%;
        > * {
            width: 100%;
        }
    }
}

.form-search {
    position: relative;
    input {
        font-size: 16px;
        line-height: 26px;
        padding: 8px 15px;
        border-radius: 8px;
        color: var(--Secondary2);
        &::placeholder {
            font-size: 16px;
            line-height: 26px;
            color: var(--Secondary2);
        }
    }
    button {
        font-size: 24px;
        display: flex;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.form-leave-comment {
    > .wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 17px;
    }
    input{
        height: 48px;
    }
    .tf-btn{
        padding: 0 32px;
    }
}

.form-login {
    .wrap {
        display: flex;
        flex-direction: column;
        gap: 22px;
        margin-bottom: 28px;
        input {
            height: 46px;
        }
    }
    .forget-password {
        text-decoration: underline;
    }
    .tf-btn {
        padding: 0 32px;
    }
}

.form-has-password {
    .toggle-password {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-flex;
        cursor: pointer;
        i {
            font-size: 20px;
            color: var(--Secondary-2);
        }
        &:not(.unshow) {
            i::before {
                content: "\e92b";
            }
        }
    }
}

.tf-select {
    position: relative;
    select {
        cursor: pointer;
        width: 100%;
        padding: 7px 16px;
        border: 2px solid var(--line);
        border-radius: 999px;
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        @include mixin.transition3;
    }
    &::after {
        font-family: variable.$fontIcon;
        position: absolute;
        content: "\e936";
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        z-index: -1;
    }
    &:hover {
        select {
            border-color: var(--Onsurface);
        }
    }
}

.tf-check {
    position: relative;
    background: transparent;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border: 1px solid var(--Secondary2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    &:checked {
        border-color: var(--Onsurface);
        background-color: var(--Onsurface);
        &::before {
            opacity: 1;
            transform: scale(1);
        }
    }
    &::before {
        font-family: variable.$fontIcon;
        content: "\e914";
        position: absolute;
        color: var(--White);
        opacity: 0;
        font-size: 12px;
        transform: scale(0);
        @include mixin.transition3;
    }
}

.tf-check-rounded {
    position: relative;
    border: 1px solid var(--Secondary2);
    border-radius: 50%;
    background: none;
    cursor: pointer;
    outline: 0;
    height: 14px;
    width: 14px;
    @include mixin.flex(center, center);
    -webkit-appearance: none;
    &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: var(--Onsurface);
        opacity: 0;
    }
    &:checked {
        border-color: var(--Onsurface);
        &::before {
            opacity: 1;
        }
    }
}
.form-write-review {
    .heading {
        display: flex;
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }
    textarea {
        height: 100px;
    }
}

.list-rating-check {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 10px;
    position: relative;
}

.list-rating-check:not(:checked) > input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
}

.list-rating-check:not(:checked) > label {
    font-size: 40px;
    cursor: pointer;
    white-space: nowrap;
    width: 40px;
    color: var(--line);
}

.list-rating-check:not(:checked) > label:before {
    font-family: variable.$fontIcon;
    content: "\e908";
}

.list-rating-check > input:checked ~ label {
    color: var(--Yellow);
}

.list-rating-check:not(:checked) > label:hover,
.list-rating-check:not(:checked) > label:hover ~ label {
    color: var(--Yellow);
}

.list-rating-check > input:checked + label:hover,
.list-rating-check > input:checked + label:hover ~ label,
.list-rating-check > input:checked ~ label:hover,
.list-rating-check > input:checked ~ label:hover ~ label,
.list-rating-check > label:hover ~ input:checked ~ label {
    color: var(--Yellow);
}

// dropdown select
.tf-dropdown-sort {
    min-width: 164px;
    border-radius: 4px;
    padding: 6px 11px;
    border: 2px solid var(--line);
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    .icon {
        font-size: 20px;
    }
    .btn-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .dropdown-menu {
        min-width: 164px;
        border: 0;
        padding: 15px 5px;
        border-radius: 0;
        max-height: 68vh;
        isolation: isolate;
        overscroll-behavior-y: contain;
        overflow-y: auto;
        box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background-color: var(--bg-scrollbar-track);
        }
        &::-webkit-scrollbar-thumb {
            background: var(--bg-scrollbar-thumb);
            border-radius: 4px;
        }
    }
    .select-item {
        position: relative;
        padding: 0 15px;
        line-height: 30px;
        width: 100%;
        @include mixin.transition3;

        &.active {
            background-color: var(--line);
            color: var(--main);
            padding: 0 15px !important;
            border: 0 !important;
        }
        &:hover {
            background-color: var(--line);
            color: var(--main);
        }
    }
    &:hover {
        border-color: var(--main);
    }
    &.full {
        .dropdown-menu {
            width: 100%;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
    &.style-1 {
        padding: 10px 14px;
        border-radius: 8px;
        border: 2px solid var(--line);
    }
    &.has-color {
        .select-item {
            display: flex;
            gap: 8px;
            align-items: center;
        }
        .box-color {
            width: 20px;
            height: 20px;
        }
    }
    &.style-2 {
        min-width: unset;
        padding: 9px 11px;
        border-radius: 12px;
        background-color: var(--surface);

        .btn-select {
            gap: 16px;
            .text-sort-value {
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0.1em;
            }
        }
    }
}

#contactform {
    textarea {
        height: 160px;
    }
}

.form-bundle-product {
    padding: 23px;
    border-radius: 12px;
    border: 1px solid var(--line);
    display: flex;
    gap: 19px;
    flex-direction: column;
    .tf-bundle-product-total-submit {
        display: flex;
        gap: 12px;
        align-items: center;
        flex-wrap: wrap;
    }
    .tf-bundle-product-btn {
        padding: 14px 48px;
    }
    &.type-cols {
        .tf-bundle-products-wrap {
            display: flex;
            gap: 16px 24px;
            overflow-x: auto;
            &::-webkit-scrollbar {
                height: 8px;
            }
            &::-webkit-scrollbar-thumb {
                background: var(--Secondary2);
            }
            &::-webkit-scrollbar-track {
                background: var(--line);
            }
        }
        .tf-bundle-product-item {
            width: 173px;
            flex-shrink: 0;
            flex-direction: column;
            .tf-product-bundle-infos {
                gap: 8px;
            }
            .tf-product-bundle-image {
                width: 100%;
                height: 173px;
            }
        }
    }
    &.type-product-grouped {
        padding: 0;
        border: 0;
        border-radius: 0;
        gap: 20px;
        .tf-bundle-product-item {
            padding-bottom: 20px;
            border-bottom: 1px solid var(--line);
        }
    }
    .tf-btn {
        max-width: 256px;
        width: 100%;
    }
    .badges-on-sale {
        padding: 0 8px !important;
        font-size: 14px !important;
        line-height: 22px !important;
    }
}

.account-address {
    .tf-btn {
        cursor: pointer;
        padding: 10px 32px;
    }
}

