.hover-tooltip {
    position: relative;
    .tooltip {
        position: absolute;
        white-space: nowrap;
        padding: 0px 8.5px;
        height: 25px;
        border-radius: 2px;
        bottom: calc(100% + 7px);
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        color: var(--White); 
        max-width: 250px;
        width: max-content;
        background-color: var(--Onsurface);
        transition:
        transform 0.4s ease 0.2s,opacity 0.4s ease 0.2s;
        z-index: 5;
        font-size: 12px;
        line-height: 22px;
        &::before {
            content: "";
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            top: 20px;
            position: absolute;
            background: var(--Onsurface);
            width: 8px;
            height: 8px;
            z-index: -1;
        }
    }
    &:hover {
        .tooltip {
            opacity: 1;
            visibility: visible;
        }
    }
    &.tooltip-bot {
        .tooltip {
            top: calc(100% + 5px);
            bottom: unset;
            &::before {
                top: -2px;
            }
        }
    }
}
.hover-img {
    .article-thumb,
    .img-style {
        overflow: hidden;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
            transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
        }
    }
    &:hover {
        .article-thumb,
        .img-style{
             img {
                -webkit-transform: scale(1.06);
                transform: scale(1.06);
            }
        }
    }

    .img-style2 {
        overflow: hidden;
        border-radius: 10px;
        .img-hv {
            width: 100%;
            object-fit: cover;
            -webkit-transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
            transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
            transition: transform 500ms ease;
        }
    }
}