@use "../abstracts/mixin";

.tab-banner {
    .nav-tab-item {
        .nav-tab-link {
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            gap: 20px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                left: auto;
                right: 0;
                bottom: 0;
                background-color: #FFFFFF1A;
                @include mixin.transition3();
            }
            .title {
                color: #FFFFFF80;
                display: flex;
                align-items: center;
                gap: 24px;
                flex-grow: 1;
                @include mixin.transition3();
                span {
                    display: flex;
                    min-width: 30px;
                    width: 40px;
                    @include mixin.transition3();
                }
            }
            .arr-link {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 7px 19px;
                border-radius: 99px;
                border: 1px solid #FFFFFF80;
                color: #FFFFFF80;
                flex-shrink: 0;
                .icon {
                    font-size: 20px;
                }
            }
            .icon {
                font-size: 16px;
            }
            &:hover {
                .title {
                    color: #fff;
                }
                .arr-link {
                    color: #fff;
                    border-color: #fff;
                }
            }
        }
        &:first-child {
            .nav-tab-link {
                // padding-top: 5px;
            }
        }
    }
}

.flat-animate-tab {
    overflow: hidden;
    height: 100%;
    .tab-content {
        position: relative;
        height: 100%;
    }
    .tab-pane {
        display: block;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
        transition-timing-function: ease-in;
        transition-duration: 0.2s;
        height: 100%;
        &.active {
            pointer-events: auto;
            opacity: 1;
            visibility: visible;
            position: relative;
            z-index: 2;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            transition-timing-function: ease-out;
            transition-duration: 0.3s;
            transition-delay: 0.3s;
        }
    }
    .sec-btn {
        margin-top: 20px;
    }
}

.widget-tabs {
    .widget-menu-tab {
        .item-title {
            cursor: pointer;
            position: relative;
            font-size: 24px;
            line-height: 30px;
            &::after {
                position: absolute;
                content: "";
                background-color: var(--Onsurface);
                @include mixin.transition3;
            }
        }
    }
    .widget-content-tab {
        position: relative;
        overflow: hidden;
        .widget-content-inner {
            display: block;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            -webkit-transform: translateY(30px);
            -ms-transform: translateY(30px);
            transform: translateY(30px);
            transition-timing-function: ease-in;
            transition-duration: 0.2s;
            &.active {
                pointer-events: auto;
                opacity: 1;
                visibility: visible;
                position: relative;
                z-index: 2;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                transition-timing-function: ease-out;
                transition-duration: 0.3s;
                transition-delay: 0.3s;
            }
        }
    }
    &.style-1 {
        .widget-menu-tab {
            display: flex;
            align-items: center;
            gap: 40px;
            justify-content: center;
            padding-bottom: 28px;
            overflow-x: auto;
            .item-title {
                min-width: max-content;
                &::after {
                    position: absolute;
                    content: "";
                    background-color: var(--Onsurface);
                    @include mixin.transition3;
                    bottom: -1px;
                    left: 0;
                    width: 0;
                    height: 1px;
                }
                &.active {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
        .widget-content-tab {
            border-radius: 8px;
            border: 1px solid var(--line);
        }
        .widget-content-inner {
            padding: 39px 39px 30px;
            border-radius: 8px;
        }
    }
    &.style-2 {
        .widget-menu-tab {
            display: flex;
            align-items: center;
            gap: 32px;
            margin-bottom: 16px;
            overflow-x: auto;
            border-bottom: 1px solid var(--line);
            .item-title {
                padding: 7px 0;
                min-width: max-content;
                &::after {
                    position: absolute;
                    content: "";
                    background-color: var(--Critical);
                    @include mixin.transition3;
                    bottom: 0px;
                    left: 0;
                    width: 0;
                    height: 2px;
                }
                &.active {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.tab-description {
    display: flex;
    gap: 20px 47px;
    .right,
    .left {
        width: 100%;
    }
}

.tab-reviews {
    .tab-reviews-heading {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            width: 100%;
            max-width: 597px;
            gap: 30px;
            .list-start {
                display: flex;
                gap: 2px;
                justify-content: center;
                margin-bottom: 7px;
                margin-top: 1px;
                font-size: 17px;
            }
        }
    }
    .rating-score {
        width: 100%;
        max-width: 365px;
        .item {
            width: 100%;
            display: flex;
            align-items: center;
        }
        .number-1 {
            width: 12px;
            text-align: end;
        }
        .icon {
            font-size: 16px;
            margin-left: 1px;
        }
        .number-2 {
            width: 17px;
        }
        .line-bg {
            margin: 0 8px;
            width: 100%;
            height: 8px;
            background-color: var(--line);
            div {
                height: 100%;
                background-color: var(--Onsurface);
            }
        }
    }
    .list-star {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        i {
            font-size: 20px;
        }
    }
    .tf-btn {
        padding: 16px 40px;
        height: 58px;
    }
    &.style-2 {
        .tab-reviews-heading {
            margin-bottom: 42px;
        }
        .tf-btn {
            font-size: 14px;
            line-height: 22px;
            padding: 16px;
            height: 40px;
        }
    }
}

.tab-shipping {
    display: flex;
    gap: 30px;
    p {
        color: var(--Secondary);
    }
}

.tab-policies {
    ul.list-text li {
        padding-left: 24px;
    }
    ul.list-text.type-number {
        margin-bottom: 6px;
        gap: 0;
    }
}

.tab-product {
    gap: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
    display: flex;
    .nav-tab-item {
        a {
            display: flex;
            width: 100%;
            white-space: nowrap;
            padding-bottom: 4px;
            text-transform: capitalize;
            @include mixin.transition3;
            color: var(--Secondary);
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 0;
                height: 2px;
                bottom: 5px;
                left: auto;
                right: 0;
                z-index: 1;
                -webkit-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                -o-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                background: var(--Onsurface);
            }
            &.active,
            &:hover {
                &::after {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}
