@use "../abstracts/mixin";

.testimonial-item {
    display: flex;
    border: 1px solid var(--line);
    background-color: var(--White);
    border-radius: 8px;
    overflow: hidden;
    .img-style {
        position: relative;
        max-width: 300px;
        width: 100%;
        flex-shrink: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .box-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 32px;
            height: 32px;
            background-color: var(--White);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--Onsurface);
            font-size: 16px;
            border-radius: 50%;
            z-index: 5;
            &:hover {
                background-color: var(--Onsurface);
                color: var(--White);
            }
        }
    }
    .content {
        padding: 22px 23px 21px;
    }
    .content-top {
        display: grid;
        gap: 12px;
        margin-bottom: 68px;
    }
    .box-product {
        display: flex;
        align-items: center;
        padding-top: 20px;
        border-top: 1px solid var(--line);
        .product-img {
            border-radius: 99px;
            overflow: hidden;
        }
        .box-price {
            margin-left: 16px;
        }
    }
    .list-star-default {
        i {
            font-size: 18px;
        }
    }
    &.style-2 {
        flex-direction: column;
        .img-style {
            max-width: 100%;
        }
        .content-top {
            margin-bottom: 24px;
            gap: 12px;
            .box-author {
                margin-bottom: 11px;
            }
        }
    }
    &.style-3 {
        padding: 0;
        border: none;
        .box-icon {
            .icon {
                font-size: 51px;
                margin-bottom: 20px;
            }
        }
        .box-author {
            flex-direction: column;
        }
        .content {
            padding: 0;
        }
        .content-top {
            gap: 40px;
            margin-bottom: 0;
        }
        .list-star-default {
            i {
                font-size: 28px;
            }
        }
    }
}

.section-testimonials {
    background-color: var(--Surface);
    &.fullright {
        .tf-sw-testimonial {
            .swiper-slide {
                @include mixin.transition3();
                &:not(
                        &.swiper-slide-active,
                        &.swiper-slide-next,
                        &.swiper-slide-prev
                    ) {
                    opacity: 0.4;
                }
            }
        }
    }
    .wrap-button {
        display: flex;
        gap: 12px;
    }
    .sw-button {
        position: unset;
    }
}
